extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 Signup
  form(
    action='/user'
    method='POST'
  )
    input(
      name='username'
      placeholder='username'
    )
    input(
      name='password'
      type='password'
      placeholder='password'
    )
    input(
      type='submit'
      value='Create Account'
    )
  h1 Login
  form(
    action='/login'
    method='POST'
  )
    input(
      name='username'
      placeholder='Enter username'
    )
    input(
      name='password'
      type='password'
      placeholder='password'
    )
    input(
      type='submit'
      value='login'
    )