extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 Review
  form(
    action='/reviews/12'
    method='POST'
  )
    input(
      name='title'
      placeholder='title'
    )
    input(
      name='review_text'
      placeholder='review'
    )
    input(
      type='number'
      name='product_rating'
      min=1
      max=5
    )
    input(
      type='submit'
      value='Post Review'
    )